html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-stretch: ultra-condensed;
    font-size: 3rem;
    letter-spacing: -0.7rem;
    height: 100vh;
}

h1 {
    font-size: 10rem;
    letter-spacing: -2rem;
    line-height: 80%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

nav {
    width: 20%;
    float: left;
    padding: 2rem;
}

main {
    float: right;
    width: 75%;
    height: 100%;
}

main > canvas {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: none;
    position: relative;
    left: 25%;
    top: 40%;
}

li > * {
    font-weight: lighter;
    transform-origin: top left;
    transform: scale(.25, 1);
    margin: 0;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    nav {
        float: none;
    }
    main {
        text-align: center;
        float: none;
    }
    main > canvas {
        left: 0;
        top: 0;
    }
} 